<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		lang="pt-br">
<head th:replace="~{base :: head('Academic - Login!')}"></head>
<body>
	<div th:replace="~{base :: navDefault}"></div>
	<div class="container">
		
		<div class="container-item intro-text">
			<h2>Faça seu login para utilizar o site!</h2>
			<p> 
				Site para comunicação entre
			 	professores, alunos e pessoas
			 	do mundo acadêmico
			</p>
		</div>
		
		<div class="container-item div-login">
			
			<h2 class="title-login">LOGIN</h2>
			
			<form class="FormLogin" th:action="@{/login}" method="POST">
				<div class="form-item">
					<input type="text" name="username" autofocus="autofocus" placeholder="Login Do Usuário" maxlength="50"/>
				</div>
				<div class="form-item">
					<input type="password" name="password" placeholder="Senha do Usuário" maxlength="200"/>
				</div>
				<div class="form-item registration">
					<a href="/registration">Don't Have a account?</a>
				</div>
				<div class="form-item">
					<input class="btn-login" type="submit" value="LOGAR" />
				</div>
				<div class="form-item">			
					<div th:if="${param.error}" class="msg-error">
						Nome De Usuário Ou senha Invalidos!
					</div>
					<div th:if="${param.logout}" class="msg-error">
						Você deslogou!
					</div>
				</div>
			</form>
		</div>
	</div>





</body>
</html>

