<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <form th:action="@{/register}" method="post">
            <div><label>Nome: <input type="text" name="name"/> </label></div>
            <div><label>Sobrenome: <input type="text" name="surname"/> </label></div>
           	<div><label>Profissão: <input type="text" name="profession"/> </label></div>
           	<div><label>Email: <input type="email" name="email"/> </label></div>
           	<div><label>Nome De Acesso (Login): <input type="text" name="username"/> </label></div>
           	<div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>